<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.vehicle_networking.mapper.MaintenanceInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.vehicle_networking.entity.MaintenanceInfo" >
    <id column="maintenance_info_id" property="maintenanceInfoId" jdbcType="INTEGER" />
    <result column="maintenance_id" property="maintenanceId" jdbcType="INTEGER" />
    <result column="maintenance_part" property="maintenancePart" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from maintenance_info
    where maintenance_info_id = #{maintenanceInfoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.vehicle_networking.entity.MaintenanceInfo" >
    insert into maintenance_info (maintenance_info_id, maintenance_id, 
      maintenance_part)
    values (#{maintenanceInfoId,jdbcType=INTEGER}, #{maintenanceId,jdbcType=INTEGER}, 
      #{maintenancePart,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.vehicle_networking.entity.MaintenanceInfo" >
    update maintenance_info
    set maintenance_id = #{maintenanceId,jdbcType=INTEGER},
      maintenance_part = #{maintenancePart,jdbcType=VARCHAR}
    where maintenance_info_id = #{maintenanceInfoId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select maintenance_info_id, maintenance_id, maintenance_part
    from maintenance_info
    where maintenance_info_id = #{maintenanceInfoId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select maintenance_info_id, maintenance_id, maintenance_part
    from maintenance_info
  </select>
  <select id="selectByMaintenanceId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select maintenance_info_id, maintenance_id, maintenance_part
    from maintenance_info
    <where>
      <if test="maintenanceId != null">maintenance_id = #{maintenanceId,jdbcType=INTEGER}</if>
    </where>
  </select>
  <delete id="deleteByMaintenanceRecordId" >
    delete from maintenance_info where maintenance_id = #{recordId,jdbcType=INTEGER}
  </delete>
</mapper>